<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Demo AngularJS by Challenge Team</h2>
                <p>Trang CV của Challenge Team</p>
                <hr>
            </div>
        </div>

    </div>

</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Ngôn ngữ lập trình</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://vi.wikipedia.org/wiki/C%2B%2B">
                    <img class="img-responsive img-home-portfolio" src="images/c++.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://vi.wikipedia.org/wiki/C_th%C4%83ng">
                    <img class="img-responsive img-home-portfolio" src="images/cthang.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://en.wikipedia.org/wiki/AngularJS">
                    <img class="img-responsive img-home-portfolio" src="images/angular-js.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://vi.wikipedia.org/wiki/HTML">
                    <img class="img-responsive img-home-portfolio" src="images/html.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://vi.wikipedia.org/wiki/CSS">
                    <img class="img-responsive img-home-portfolio" src="images/css.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://vi.wikipedia.org/wiki/JavaScript">
                    <img class="img-responsive img-home-portfolio" src="images/javascript.png">
                </a>
            </div>
			<div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://vi.wikipedia.org/wiki/HTML">
                    <img class="img-responsive img-home-portfolio" src="images/java.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://vi.wikipedia.org/wiki/CSS">
                    <img class="img-responsive img-home-portfolio" src="images/android.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://vi.wikipedia.org/wiki/JavaScript">
                    <img class="img-responsive img-home-portfolio" src="images/database.png">
                </a>
            </div>
        </div>

    </div>

</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="images/banner1.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h1>Don't be the same, be better!</h1><br>
                <p>Đừng sợ thay đổi. Bạn có thể đánh mất đi một vài điều tốt đẹp, nhưng bạn có thể đạt được những điều còn tốt đẹp hơn.</p>
			    <p>"Never be afraid of change. You may lose something good, but you may gain something even better"</p>
            </div>
        </div>

    </div>

</div>
